/* here we import our colors from variables */
@import "./variables";
@import "./icomoon";

.main {

  .some-nested-thing {
    background: yellow;
  }

  p {
    font-family: "system-ui";
  }
  background: $color-orange;
  text-align: center;

  .big-icon {
    font-size: 30px;
  }
}


